/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #fff;
  --text-color: #000;
  --para-color: #7d7987;
  --primary-color: #458ff6;
  --secondary-color: #ffffff;
  --font: "Mulish", sans-serif;
  --card-btn-color: #4089ed;

  /* container width */
  --container-width: 1300px;
}

body {
  font-family: var(--font);
  background-color: var(--bg);
  color: var(--text-color);
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 2rem;
}
.section-space {
  padding: 100px 0 30px;
}
.button {
  max-width: fit-content;
  border: none;
  cursor: pointer;
  border-radius: 55px;
}
/* end of global styles */

/* navbar styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  color: #233348;
}
.wrapper {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
}
.logo-container {
  background-color: var(--primary-color);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 12px;
  height: 12px;
}
.nav-lists {
  display: flex;
  gap: 1rem;
}

/* .nav-list {
} */
/* navbar styles */

/* HERO STYLES START */
.hero {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 90vh;
}
.left-hero-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hero-title {
  font-weight: 700;
  font-size: 48px;
  max-width: 420px;
}
.hero-text {
  font-weight: 300;
  font-size: 21px;
  max-width: 440px;
  color: var(--para-color);
}
.hero-btn {
  padding: 18px 40px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.right-hero-content {
  flex: 1;
}
/* HERO STYLES END */

/* SERVICES STYLES START */
.services {
  /* background: url(./images/service-bg.png);
  background-size: cover; */
  position: relative;
  /* overflow: hidden; */
  padding: 100px 0;
}
.service-bg-image {
  position: absolute;
  top: 200px;
  left: -5px;
  width: 500px;
  z-index: 0;
  opacity: 0.3;
  pointer-events: none;
}
.service-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.top-service {
  text-align: center;
}
.services-title {
  font-weight: 700;
  font-size: 36px;
}
.services-text {
  max-width: 850px;
  font-weight: 300;
  font-size: 16px;
  color: var(--para-color);
  margin-top: 0.9rem;
}
.middle-service {
  /* position: relative;
  z-index: 1; */
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.card {
  flex: 33.33%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-width: 350px;
  height: 250px;
  border-radius: 20px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.card-image {
  width: 70px;
  height: 70px;
}
.card h3 {
  font-weight: 700;
  font-size: 24px;
}
.card p {
  font-weight: 300;
  font-size: 16px;
  color: var(--para-color);
  max-width: 260px;
}
/* .bottom-service {
} */
.service-btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 700;
  font-size: 18px;
  padding: 15px 30px;
  border: 1px solid var(--primary-color);
}
/* SERVICES STYLES END */

/* PROVIDER STYLES START */
.providers {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.provider-image {
  max-width: 650px;
  max-height: 470px;
}
.provider-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.provider-title {
  max-width: 480px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
}
.provider-text {
  max-width: 450px;
  font-weight: 300;
  font-size: 16px;
  color: var(--para-color);
}
.provider-btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 700;
  font-size: 18px;
  padding: 15px 30px;
  border: 1px solid var(--primary-color);
}
/* PROVIDER STYLES END */
/* DOWNLOAD STYLES END */
.downloads {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.downloads-image {
  max-width: 650px;
  max-height: 470px;
}
.downloads-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.downloads-title {
  max-width: 245px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
}
.downloads-text {
  max-width: 420px;
  font-weight: 300;
  font-size: 16px;
  color: var(--para-color);
}
.downloads-btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 700;
  font-size: 18px;
  padding: 15px 30px;
  border: 1px solid var(--primary-color);
}
/* DOWNLOAD STYLES END */
/* TESTIMONIAL STYLES END */
.testimonials {
  background: linear-gradient(#67c3f3, #5a98f2);
  border-radius: 24px;
  max-width: 1120px;
  margin: 0 auto;
}
.testimonial-info {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.top-testimonial-title {
  color: var(--secondary-color);
  font-weight: 700;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
}

.bottom-testimonial-info {
  display: flex;
  align-items: center;
  gap: 7rem;
}
.customer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.customer-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}
.customer-info-content {
  color: var(--secondary-color);
}
.customer-name {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 0.4rem;
}
.customer-position {
  font-weight: 400;
  font-size: 18px;
}
.customer-text {
  max-width: 420px;
  font-weight: 400;
  font-size: 19px;
  color: var(--secondary-color);
  line-height: 1.7;
}
/* TESTIMONIAL STYLES END */

/* ARTICLES STYLES END */
.articles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.top-articles-title {
  font-weight: 700;
  font-size: 36px;
}
.middle-article-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.card-article {
  max-width: 350px;
  max-height: 512px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card-article-image {
  height: 240px;
}
.card-article-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card-article-title {
  font-weight: 700;
  font-size: 21px;
}
.card-article-text {
  font-weight: 300;
  font-size: 16px;
  color: var(--para-color);
}
.article-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.article-btn {
  font-weight: 600;
  font-size: 17px;
  color: var(--card-btn-color);
}
.arrow-right {
  width: 14px;
  height: 9px;
}
.articles-btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 700;
  font-size: 18px;
  padding: 15px 30px;
  border: 1px solid var(--primary-color);
}
/* ARTICLES STYLES END */
/* FOOTER STYLES END */
.footer-wrapper {
  margin-top: 100px;
  background: linear-gradient(#67c3f3, #5a98f2);
  color: var(--secondary-color);
}
.footer {
  display: flex;
  gap: 1.5rem;
}
.footer-section-one,
.footer-section-two,
.footer-section-three,
.footer-section-four {
  flex: 1;
}
/* FOOTER STYLES END */
